version: 2.1

orbs:
    win: circleci/windows@2.2.0

jobs:
    run_dataset_script_tests_pyarrow_latest:
        working_directory: ~/datasets
        docker:
            - image: cimg/python:3.6
        resource_class: medium
        steps:
            - checkout
            - run: sudo apt-get -y update && sudo apt-get install -y libsndfile1-dev
            - run: pip install --upgrade pip
            - run: python -m venv venv
            - run: source venv/bin/activate
            - run: pip install .[tests]
            - run: pip install -r additional-tests-requirements.txt --no-deps
            - run: pip install pyarrow --upgrade
            - run: HF_SCRIPTS_VERSION=master HF_ALLOW_CODE_EVAL=1 python -m pytest -d --tx 2*popen//python=python3.6 --dist loadfile -sv ./tests/

    run_dataset_script_tests_pyarrow_3:
        working_directory: ~/datasets
        docker:
            - image: cimg/python:3.6
        resource_class: medium
        steps:
            - checkout
            - run: sudo apt-get -y update && sudo apt-get install -y libsndfile1-dev
            - run: pip install --upgrade pip
            - run: python -m venv venv
            - run: source venv/bin/activate
            - run: pip install .[tests]
            - run: pip install -r additional-tests-requirements.txt --no-deps
            - run: pip install pyarrow==3.0.0
            - run: HF_SCRIPTS_VERSION=master HF_ALLOW_CODE_EVAL=1 python -m pytest -d --tx 2*popen//python=python3.6 --dist loadfile -sv ./tests/

    run_dataset_script_tests_pyarrow_latest_WIN:
        working_directory: ~/datasets
        executor:
            name: win/default
            shell: powershell
        steps:
            - checkout
            - run: |
                conda init powershell
                conda update conda
                conda create -n py37 python=3.7 pytorch --yes
            - run: |
                conda activate py37
                pip install .[tests]
                pip install -r additional-tests-requirements.txt --no-deps
                pip install pyarrow --upgrade
            - run: |
                conda activate py37
                $env:HF_SCRIPTS_VERSION="master"
                python -m pytest -n 2 --dist loadfile -sv ./tests/

    run_dataset_script_tests_pyarrow_3_WIN:
        working_directory: ~/datasets
        executor:
            name: win/default
            shell: powershell
        steps:
            - checkout
            - run: |
                conda init powershell
                conda update conda
                conda create -n py37 python=3.7 pytorch --yes
            - run: |
                conda activate py37
                pip install .[tests]
                pip install -r additional-tests-requirements.txt --no-deps
                pip install pyarrow==3.0.0
            - run: |
                conda activate py37
                $env:HF_SCRIPTS_VERSION="master"
                python -m pytest -n 2 --dist loadfile -sv ./tests/

    check_code_quality:
        working_directory: ~/datasets
        docker:
            - image: circleci/python:3.6
        resource_class: medium
        parallelism: 1
        steps:
            - checkout
            - run: sudo pip install .[quality]
            - run: black --check --line-length 119 --target-version py36 tests src benchmarks datasets metrics
            - run: isort --check-only tests src benchmarks datasets metrics
            - run: flake8 tests src benchmarks datasets metrics

workflows:
    version: 2
    build_and_test:
        jobs:
            - check_code_quality
            - run_dataset_script_tests_pyarrow_latest
            - run_dataset_script_tests_pyarrow_3
            - run_dataset_script_tests_pyarrow_latest_WIN
            - run_dataset_script_tests_pyarrow_3_WIN
