version: 2
jobs:
    run_dataset_script_tests_pyarrow_0p17:
        working_directory: ~/nlp
        docker:
            - image: circleci/python:3.6
        resource_class: medium
        steps:
            - checkout
            - run: python -m venv venv
            - run: source venv/bin/activate
            - run: pip install .[tests]
            - run: pip install pyarrow==0.17.1
            - run: HF_NLP_VERSION=master python -m pytest -sv ./tests/

    run_dataset_script_tests_pyarrow_1:
        working_directory: ~/nlp
        docker:
            - image: circleci/python:3.6
        resource_class: medium
        steps:
            - checkout
            - run: python -m venv venv
            - run: source venv/bin/activate
            - run: pip install .[tests]
            - run: pip install pyarrow==1.0.0
            - run: HF_NLP_VERSION=master python -m pytest -sv ./tests/

    check_code_quality:
        working_directory: ~/nlp
        docker:
            - image: circleci/python:3.6
        resource_class: medium
        parallelism: 1
        steps:
            - checkout
            # we need a version of isort with https://github.com/timothycrosley/isort/pull/1000
            - run: sudo pip install git+git://github.com/timothycrosley/isort.git@e63ae06ec7d70b06df9e528357650281a3d3ec22#egg=isort
            - run: sudo pip install .[quality]
            - run: black --check --line-length 119 --target-version py36 src tests benchmarks
            - run: isort --check-only --recursive src tests benchmarks
            - run: flake8 src tests benchmarks
    build_doc:
        working_directory: ~/nlp
        docker:
            - image: circleci/python:3.6
        steps:
            - checkout
            - run: sudo pip install .[docs]
            - run: cd docs && make html SPHINXOPTS="-W"
            - store_artifacts:
                  path: ./docs/_build
    deploy_doc:
        working_directory: ~/nlp
        docker:
            - image: circleci/python:3.6
        steps:
            - add_ssh_keys:
                fingerprints:
                    - "5b:7a:95:18:07:8c:aa:76:4c:60:35:88:ad:60:56:71"
            - checkout
            - run: sudo pip install .[docs]
            - run: ./.circleci/deploy.sh

workflow_filters: &workflow_filters
    filters:
        branches:
            only:
                - master

workflows:
    version: 2
    build_and_test:
        jobs:
            - check_code_quality
            - run_dataset_script_tests_pyarrow_0p17
            - run_dataset_script_tests_pyarrow_1
            - build_doc
            - deploy_doc: *workflow_filters
