name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

env:
  HF_SCRIPTS_VERSION: main
  HF_ALLOW_CODE_EVAL: 1

jobs:

  check_code_quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.7"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[quality]
      - name: Check quality
        run: |
          black --check --line-length 119 --target-version py36 tests src benchmarks datasets metrics
          isort --check-only tests src benchmarks datasets metrics
          flake8 tests src benchmarks datasets metrics

  test:
    needs: check_code_quality
    strategy:
      matrix:
        test: ['unit', 'integration']
        os: [ubuntu-latest, windows-latest]
        pyarrow_version: [latest, 6.0.1]
    continue-on-error: ${{ matrix.test == 'integration' }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install OS dependencies
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          sudo apt-get -y update
          sudo apt-get -y install libsndfile1 sox
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Python 3.7
        uses: actions/setup-python@v4
        with:
          python-version: 3.7
      - name: Upgrade pip
        run: python -m pip install --upgrade pip
      - name: Pin setuptools-scm
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: echo "installing pinned version of setuptools-scm to fix seqeval installation on 3.7" && pip install "setuptools-scm==6.4.2"
      - name: Install dependencies
        run: |
          pip install .[tests]
          pip install -r additional-tests-requirements.txt --no-deps
      - name: Install latest PyArrow
        if: ${{ matrix.pyarrow_version == 'latest' }}
        run: pip install pyarrow --upgrade
      - name: Install PyArrow ${{ matrix.pyarrow_version }}
        if: ${{ matrix.pyarrow_version != 'latest' }}
        run: pip install pyarrow==${{ matrix.pyarrow_version }}
      - name: Test with pytest
        run: |
          python -m pytest -m ${{ matrix.test }} -n 2 --dist loadfile -sv ./tests/
