name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

env:
  HF_ALLOW_CODE_EVAL: 1

jobs:

  check_code_quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.7"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[quality]
      - name: Check quality
        run: |
          black --check tests src benchmarks metrics
          isort --check-only tests src benchmarks metrics
          flake8 tests src benchmarks metrics

  test:
    needs: check_code_quality
    strategy:
      matrix:
        test: ['unit', 'integration']
        os: [ubuntu-latest, windows-latest]
        deps_versions: [deps-latest, deps-minimum]
    continue-on-error: ${{ matrix.test == 'integration' }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install OS dependencies
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          sudo apt-get -y update
          sudo apt-get -y install libsndfile1 sox
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Python 3.7
        uses: actions/setup-python@v4
        with:
          python-version: "3.7"
      - name: Upgrade pip
        run: python -m pip install --upgrade pip
      - name: Pin setuptools-scm
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: echo "installing pinned version of setuptools-scm to fix seqeval installation on 3.7" && pip install "setuptools-scm==6.4.2"
      - name: Install dependencies
        run: |
          pip install .[tests,metrics-tests]
          pip install -r additional-tests-requirements.txt --no-deps
          python -m spacy download en_core_web_sm
          python -m spacy download fr_core_news_sm
      - name: Install dependencies (latest versions)
        if: ${{ matrix.deps_versions == 'deps-latest' }}
        run: pip install --upgrade pyarrow huggingface-hub dill jax==0.3.25 jaxlib==0.3.6
      - name: Install depencencies (minimum versions)
        if: ${{ matrix.deps_versions != 'deps-latest' }}
        run: pip install pyarrow==6.0.1 huggingface-hub==0.2.0 transformers dill==0.3.1.1 jax==0.2.8 jaxlib==0.1.65
      - name: Test with pytest
        run: |
          python -m pytest -rfExX -m ${{ matrix.test }} -n 2 --dist loadfile -sv ./tests/
      - name: Install dependencies to test torchaudio>=0.12 on Ubuntu
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          pip uninstall -y torchaudio torch
          pip install "torchaudio>=0.12"
          sudo apt-get -y install ffmpeg
      - name: Test torchaudio>=0.12 on Ubuntu
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          python -m pytest -rfExX -m torchaudio_latest -n 2 --dist loadfile -sv ./tests/features/test_audio.py

  test_py310:
    needs: check_code_quality
    strategy:
      matrix:
        test: ['unit']
        os: [ubuntu-latest, windows-latest]
        deps_versions: [deps-latest]
    continue-on-error: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install OS dependencies
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          sudo apt-get -y update
          sudo apt-get -y install libsndfile1 sox
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Upgrade pip
        run: python -m pip install --upgrade pip
      - name: Install dependencies
        run: pip install .[tests]
      - name: Test with pytest
        run: |
          python -m pytest -rfExX -m ${{ matrix.test }} -n 2 --dist loadfile -sv ./tests/
      - name: Install dependencies to test torchaudio>=0.12 on Ubuntu
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          pip uninstall -y torchaudio torch
          pip install "torchaudio>=0.12"
          sudo apt-get -y install ffmpeg
      - name: Test torchaudio>=0.12 on Ubuntu
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          python -m pytest -rfExX -m torchaudio_latest -n 2 --dist loadfile -sv ./tests/features/test_audio.py
